# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Archivos de compilación de Maven
target/

# Configuración de IntelliJ IDEA
.idea/
*.iml

# Credenciales y archivos sensibles
src/main/resources/application.propertiesaa